body{
    min-width: 990px;
}
body{
    background-image: url("../../assets/images/backgroundthomas.png");
    background-repeat: no-repeat;
    background-position: center; 
    
}


.btn{
    color: red;
}

.card-header{
    display: inline-block;
    clear: both;
    background-color: rgb(224, 224, 224);
}

.footer{
    margin: 50px;
    color: lightgray;
}
h1{
    text-align: center;
    padding-bottom: 110px;
    
}